{% extends 'base.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
<table class="table">
    <thead>
      <tr>
        <th>Roll NO.</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for student in student_list %}
        <tr class="success">
            <td>{{student.roll}}</td>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>
            <td>
                <a class="btn btn-info" href="{% url 'update' student.id %}">Update</a>
                <a class="btn btn-warning" href="{% url 'delete' student.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
      
    </tbody>
  </table>
{% endblock %}